.ncc {
  display: flex;
  align-items: flex-start;
  font-family: "Roboto", sans-serif;
}
.ncc__menu {
  min-width: 150px;
  background-color: #191718;
  color: #fff;
  height: 100vh;
}
.ncc__menu ul {
  padding: 0;
  margin: 0;
}
.ncc__menu ul li {
  padding: 14px 71px 11px 16px;
  border-bottom: 1px solid #5C5C5C;
  transition: 0.3s;
}
.ncc__menu ul li.active, .ncc__menu ul li:hover {
  background-color: #5C5C5C;
}
.ncc__menu ul li.active a, .ncc__menu ul li:hover a {
  color: #fff;
}
.ncc__menu ul li:first-child a {
  color: #fff;
}
.ncc__menu ul li a {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.176;
  color: #5C5C5C;
}
.ncc__container {
  padding: 0 129px;
  width: auto;
  text-align: center;
}
.ncc__logo {
  margin-bottom: 30px;
}
.ncc__paragraph {
  padding: 38px 0;
  background-color: #EFEFEF;
  width: 100%;
  margin-bottom: 40px;
}
.ncc__title h2 {
  margin: 0;
}
.ncc__content {
  max-width: 972px;
  margin: auto;
}
.ncc__row {
  display: flex;
  justify-content: space-between;
}
.ncc__block {
  width: 33%;
  text-align: left;
}
.ncc__block__title h3 {
  margin: 0 0 18px 0;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16666;
}
.ncc__block__content p {
  position: relative;
}
.ncc__block__content p img {
  max-height: 128px;
  position: absolute;
  top: 0;
  left: 0;
}
.ncc__block__content p span {
  position: absolute;
  top: 0;
  left: 0;
}

/*# sourceMappingURL=style.css.map */
