.ncc {
    display: flex;
    align-items: flex-start;
    font-family: "Roboto", sans-serif;
    &__menu {

       min-width: 150px;
       background-color: #191718;
       color: #fff;
       height: 100vh;

        ul {
            padding: 0;
            margin: 0;
            li {
                padding: 14px 71px 11px 16px;
                border-bottom: 1px solid #5C5C5C;
                transition: .3s;

                &.active, &:hover {
                    background-color: #5C5C5C;
                    a {
                        color: #fff;
                    }
                }

                &:first-child {
                    a {
                        color: #fff;
                    }
                }
                a {
                    text-decoration: none;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 1.176;
                    color: #5C5C5C;
                }
            }
        }
    }
    &__container {
        padding: 0 129px;
        width: auto;
        text-align: center;
    }
    &__logo {
        margin-bottom: 30px;
    }
    &__paragraph {
        padding: 38px 0;
        background-color: #EFEFEF;
        width: 100%;
        // max-width: 1510px;
        margin-bottom: 40px;
    }
    &__title {
        h2 {
            margin: 0;
        }
    }
    &__content {
        max-width: 972px;
        margin: auto;
    }
    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__block {
        width: 33%;
        text-align: left;
        &__title {
            h3 {
                margin: 0 0 18px 0;
                color: #000;
                font-size: 24px;
                font-weight: 700;
                line-height: 1.16666;
            }
        }
        &__content {
            p {
                position: relative;
              
                img {
                    max-height: 128px;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                span {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }

    }
}